<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css" type="text/css">
    <title> <%= title %> </title> <!-- Ojo con este title, porque todas las plantillas que rendericemos necesitan mandar este dato -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>