/*================
    General
================*/
header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    width: 75%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}


/*================
    Encabezado
================*/
nav ul {
    display: flex;
    justify-content: space-between;
}


/*================
    main
================*/
#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    width: 175px;
    height: 200px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
    justify-content: space-evenly;
}

#contenedor-productos h5, #contenedor-productos p {
    margin: 0;
}

.card-producto img {
    width: 65px;
}


#listado-productos {
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.li-listados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.li-listados img {
    width: 65px;
}

.li-listados p, .li-listados img {
    margin-bottom: 0;
}

.li-botonera {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.products-form {
    width: 35%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: space-between;
}

.products-form-amplio {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.mensaje-error strong {
    color: #ae4f4e;
}

.mensaje-error {
    color: #a94442;
    background-color: #f2dede;
    border: 2px solid #ebccd1;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
}