<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <h1> <%= about %> </h1>

    <form id="getProducts-form" class="products-form">

        <label for="idProd">Id del producto</label>
        <input type="number" name="id" id="idProd" required >

        <input type="submit" value="Consultar producto">
    </form>

    <hr>
    <div id="contenedor-productos">
        <ul id="listado-productos"></ul>
    </div>
</main>

<script src="js/consultar.js"></script>

<%- include("partials/footer.ejs") %>